.rapihkiri {
    float: left;
    text-align: left;
    clear: none;
}
.rapihkanan {
    float: right;
    text-align: right;
    clear: none;
}

table, th, td {
	border: 1px solid black;
	border-radius: 10px;
	padding: 0;
	border-spacing: 0;
}