<!DOCTYPE html>
<html>
<head>
<title>Implementasi AI(Artificial-Intelligence) untuk RobotResto menggunakan NLTK+Python+Flask dan rendering HTML+CSS by using Flask</title>
<meta charset="utf-8">
<!--
<link rel="stylesheet" href="{{url_for('static', filename='mycss.css')}}">
-->
<link rel="stylesheet" href="/mycss.css">
<link rel="icon" type="image/x-icon" href="/gambar/logominangkabau.ico">
</head>
<body>
<center>

<form action="">

<table summary="ChatBot MinangSedap"><tr><td align="center" border=1><center>
<table><tr><td>


<tr>
<td colspan=5 align="center">
<center>
<h3>Sales-catering Nasi-bungkus Minangkabau</h3>
</center>
</td>
</tr>


<tr>
<td colspan=5 align="center">
<center>
<!--
<img src="{{ gambarnya }}" alt="Sales Rumah-makan Minang SEDAP"></img>
<img src="{{url_for('static', filename='gambar/logominangkabau.jpg')}}"></img>
-->
<img src="/gambar/logominangkabau.jpg" width="300" height="357" alt="Sales Rumah-makan Minang SEDAP" border=0></img>
<br />
<a href="https://telegram.im/@RobotRestoBOT" target="_blank">
	<img src="https://telegram.im/widget-logo/?v=2&bg=29a0da&color=ff0000&login=%40RobotRestoBOT&t=Click+tombol-telegram+ini+untuk+tanya%2Fpesan...&b=Nasi-bungkus+SEDAP+khas+Minangkabau&width=500&height=152&fontsize=62&r=50" 
	alt="@RobotRestoBOT">
</a>
</center>
</td>
</tr>


<tr>
<td colspan=5 align="center">
<center>
<h1>RM-Minang SEDAP</h1>
</center>
</td>
</tr>


<tr>
<td colspan=5 align="center">
<center>
My name is: "Ilham Firdaus" alias "Patrix Linus". A beloved-father of "Altaf Zain Ilham" and "Alif Hamdallah Ilham".<br />
<br />
I am a programmer and system-administrator for platform of linux, UNIX, windows and android.<br />
<br />
I create this RobotResto as my portfolio or sample For Prosa.AI.<br />
This is an implementation of Artificial-Intelligence for RobotResto by using NLTK+Python+Flask and rendering HTML+CSS by using Flask.<br />
<br />
Besides for Telegram, we also have RobotChat for FaceBook-Messenger, WhatsApp(WA), MiChat, Slack and other popular-ChatPlatform.<br />
<br />
This RobotResto will be maintain here in this github-repository, so please check the update here.<br />
<br />
For live-testing, you can visit the RobotResto at <a href="https://robotresto.herokuapp.com" target="_blank">https://robotresto.herokuapp.com</a> .
</center>
</td>
</tr>


<tr>
<td>

</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

</table>
</center></td></tr></table>

</form>

</center>
</body>
</html>
